:root {
    font-family: "Segoe UI Variable Text", "Segoe UI";
    font-size: 14px;
    color: black;
}

body {
    margin: 1.2rem 1rem;
    overflow: hidden;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        color: white;
    }
}
