:root
    font-family: "Segoe UI Variable Text", "Segoe UI"
    font-size: 14px
    color: black
    user-select: none
    @media screen and (prefers-color-scheme: dark)
        color: white

body
    margin: 1.2rem 1rem
    overflow: hidden
